.coin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 120px;
    border-bottom: 1.5px solid #d7d7d7 ;
    width: 1200px;
}
.coin{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 12px;
    min-width: 300px;
    /* min width in any case */
}

.coin h1 {
    font-size: 20px;
    width: 150px;
  }
  
.coin img {
    height:60px;
    width: 60px;
    margin-right: 10px;
  }
  /* .coin-symbol {
    text-transform: uppercase;
  } */

  .coin-data {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
  }
  .coin-price {
    width: 110px;
 
  }
  
  .coin-volume {
    width: 155px;
  }
  
  .coin-marketcap {
    width: 230px;
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }